<div >
  <h1 class="header" >Friend Debts! </h1>

   <p>
      Friend Debts was created to better track those small and sometimes large loans we 
      needed from friends. The fastest way to ruin a friendship is to 
      not pay back a favor. Hope this brings value to you and 
      your friendships! 
   </p>

   <a class="btn btn-info btn-lg" id="alert-target">Click me!</a>
</div>