
<div >
   <h1>Your current Debts are: </h1>
  <ul>
    <% @debts.each do |debt| %>
      <li><%= link_to debt.debt_to, [@user, debt] %> <%= debt.description %> </li>
    <% end %>
  </ul>

 <%= link_to 'Create a new Debt', new_user_debt_path(@user) %>

 
