
<div class="card">
<div class="card-body">
<h3 class="card-header text-center font-weight-bold text-uppercase py-4">Add A Debt </h3>
  <hr/>

<div class="col-md-12 mb-md-2 mb-8">
  <form class="text-center border border-light p-5" >
     <%= form_for [@user, @debt] do |f| %>
  

    <div class="row">
      <div class="col-md-6">
        <div class="mb-form ">
          <input type="text" id="defaultContactFormdebt_to" 
             class="form-control mb-4" placeholder="Who do you owe?" > 
          </input>
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-form">
          <input type="text" id="defaultContactFormtotal_debt" 
                   class="form-control mb-4" placeholder="Total"> 
          </input>
        </div>
      </div>
    </div>
     
     <div class="col-md-6">
       <div class="md-form">
          <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" 
             placeholder="Debt Description"></textarea>
        </div>              
     </div>

     <div class="col-md-6">
       <div class="md-form">
           <input type="text" id="defaultContactFormpayment_amount" 
                    class="form-control mb-4" placeholder="Payment Amount">
           </input>       
       </div>
     </div>     
           
     <div class="col-md-6">
       <div class="md-form">
           <input type="text" id="defaultContactForminterest_rate" 
                    class="form-control mb-4" placeholder="Interest Rate">  
           </input>
       </div>
     </div>

     <div class="row">
       <div class="col-md-12">
          <button class="btn btn-info btn-block" type="submit"> 
            Create 
          </button>
       </div>
     </div>

     <% end %>
  </form>

</div>
</div>
</div>