
.hide {
    display: none;
  }

  .alert {
    font-size: 20px;
    text-align: center;
   }
   
   // "notice" may be something else
   // just check html element on message

   .alert-notice {
    background-color: rgb(7, 199, 7);
   }
   
   .alert-alert {
    background-color: red;
   }

   
