<footer class="page-footer font-small blue ">
   <div class="footer-copyright text-center py-3">
       <p> Built on Coffee </p>
      © 2020 Copyright:<a href="https://www.charlieJergins.com" 
                         target=_blank, rel=noopener > CharlieJergins.com 
                     </a>
   </div>
</footer>